/* Add mobile styles for the component here.  */

Label{
    text-align: center;
}
.txt2{
    padding-top: 250%;  
   color:white;
  

   /* padding-top: 250%; */
}
.txt{
   color:white;
   
    
    }
.txt6{
    color:white;
   
    }
/* 
.txt1{
    padding-top: 300%; 
}

/* .txt3{
    padding-top: 150%; 
}
.txt4{
    padding-top: 145%; 
}
.txt5{
    padding-top: 15%; 
}

.txt7{
    padding-top: 15%; 
    
} */ 