<GridLayout columns="*,*,*,*", rows="50, *,*,50" >
  
    <Label text="Darkblue" class="txt"    row="0" col="0" colSpan="3"  backgroundColor="darkblue"></Label>
    <Label text="Green"    class="txt1"   row="0" col="3" rowSpan="4" backgroundColor="green"></Label>
    <Label text="Violet"   class="txt2"   row="1" col="1" rowSpan="2" colSpan="2" backgroundColor="darkviolet"></Label>
    <Label text="yellow"   class="txt3"   row="1" col="0" backgroundColor="yellow"></Label> 
    <Label text="Red"      class="txt4"   row="2" col="0" backgroundColor="red"></Label>  
    <Label text="Pink"     class="txt5"   row="3" col="0" backgroundColor="pink"></Label>
    <Label text="Darkblue" class="txt6"   row="3" col="1" backgroundColor="darkblue"></Label>
    <Label text="Yellow"   class="txt7"   row="3" col="2" backgroundColor="yellow"></Label>  
  
</GridLayout>